.navbar {
  width: 250px;
  height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  padding-top: 24px;
}

.navbar .logotype {
  width: 100%;
  margin-bottom: 18px;
}

.navbar .logotype a {
  padding: 0 24px;
}
.navbar .logo svg {
  height: 40px;
  max-width: 131px;
  width: 100%;
}

.navbar .menus,
.navbar .menus .menu {
  width: 100%;
}

.navbar ul li {
  padding: 0 8px;
}

.navbar ul li a {
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  gap: 16px;
  height: 40px;
  padding: 0 16px;
}
